   DB_HOST=localhost
   DB_USER=your_username
   DB_PASSWORD=your_password
   DB_NAME=hairdo_db
   JWT_SECRET=your_secret_key

   # creating you JWT_SECRET
   # run node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"